@import "tailwindcss";
/* Root Variables */
:root {
  --font-sora: "Sora", sans-serif;
  --font-code: "Source Code Pro", monospace;
  --font-grotesk: "Space Grotesk", sans-serif;
  color-scheme: dark;
}

/* Global Smooth Scroll */
* {
  scroll-behavior: smooth;
}

@layer base {
  :root {
    --color-1: #AC6AFF;
    --color-2: #FFC876;
    --color-3: #FF776F;
    --color-4: #7ADB78;
    --color-5: #858DFF;
    --color-6: #FF98E2;

    --stroke-1: #26242C;

    --n-1: #FFFFFF;
    --n-2: #CAC6DD;
    --n-3: #ADA8C3;
    --n-4: #757185;
    --n-5: #3F3A52;
    --n-6: #252134;
    --n-7: #15131D;
    --n-8: #0E0C15;
    --n-9: #474060;
    --n-10: #43435C;
    --n-11: #1B1B2E;
    --n-12: #2E2A41;
    --n-13: #6C7275;

    --letter-spacing-tagline: 0.15em;

    --spacing-0-25: 0.0625rem;
    --spacing-7-5: 1.875rem;
    --spacing-15: 3.75rem;

    --opacity-15: 0.15;

    --duration-default: 200ms;
    --timing-default: linear;

    --z-1: 1;
    --z-2: 2;
    --z-3: 3;
    --z-4: 4;
    --z-5: 5;

    --border-default: 0.0625rem;

    --bg-radial: radial-gradient(var(--tw-gradient-stops));
    --bg-conic: conic-gradient(from 225deg, #FFC876, #79FFF7, #9F53FF, #FF98E2, #FFC876);
  }

  body {
    font-family: var(--font-sora), system-ui, sans-serif;
    @apply bg-[var(--n-8)] text-[var(--n-1)] text-base;
  }
}

@layer utilities {
  .tap-highlight-color {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  /* Rotate Utilities */
  .rotate-45  { @apply rotate-[45deg]; }
  .rotate-90  { @apply rotate-[90deg]; }
  .rotate-135 { @apply rotate-[135deg]; }
  .rotate-180 { @apply rotate-[180deg]; }
  .rotate-225 { @apply rotate-[225deg]; }
  .rotate-270 { @apply rotate-[270deg]; }
  .rotate-315 { @apply rotate-[315deg]; }
  .rotate-360 { @apply rotate-[360deg]; }

  .-rotate-45  { @apply -rotate-[45deg]; }
  .-rotate-90  { @apply -rotate-[90deg]; }
  .-rotate-135 { @apply -rotate-[135deg]; }
  .-rotate-180 { @apply -rotate-[180deg]; }
  .-rotate-225 { @apply -rotate-[225deg]; }
  .-rotate-270 { @apply -rotate-[270deg]; }
  .-rotate-315 { @apply -rotate-[315deg]; }
  .-rotate-360 { @apply -rotate-[360deg]; }
}

@layer components {
  .container {
    @apply max-w-[77.5rem] mx-auto px-5 md:px-10 lg:px-15 xl:max-w-[87.5rem];
  }

  .h1 {
    @apply font-semibold text-[2.5rem] leading-[3.25rem] md:text-[2.75rem] md:leading-[3.75rem] lg:text-[3.25rem] lg:leading-[4.0625rem] xl:text-[3.75rem] xl:leading-[4.5rem];
  }

  .h2 {
    @apply text-[1.75rem] leading-[2.5rem] md:text-[2rem] md:leading-[2.5rem] lg:text-[2.5rem] lg:leading-[3.5rem] xl:text-[3rem] xl:leading-tight;
  }

  .h3 {
    @apply text-[2rem] leading-normal md:text-[2.5rem];
  }

}