@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap");

:root {
  --font-sora: "Sora", sans-serif;
  --font-code: "Source Code Pro", monospace;
  --font-grotesk: "Space Grotesk", sans-serif;
  color-scheme: dark;
}


* {
  scroll-behavior: smooth;
}

@layer base {
  :root {
    --color-1: #7F6BFF;
    --color-2: #FFC876;
    --color-3: #FF776F;
    --color-4: #7ADB78;
    --color-5: #858DFF;
    --color-6: #FF98E2;

    --stroke-1: #26242C;

    --n-1: #FFFFFF;
    --n-2: #CAC6DD;
    --n-3: #ADA8C3;
    --n-4: #757185;
    --n-5: #3F3A52;
    --n-6: #252134;
    --n-7: #15131D;
    --n-8: #0a0a1a;
    --n-9: #474060;
    --n-10: #43435C;
    --n-11: #1B1B2E;
    --n-12: #2E2A41;
    --n-13: #6C7275;

    --letter-spacing-tagline: 0.15em;

    --spacing-0-25: 0.0625rem;
    --spacing-7-5: 1.875rem;
    --spacing-15: 3.75rem;

    --opacity-15: 0.15;

    --duration-default: 200ms;
    --timing-default: linear;

    --z-1: 1;
    --z-2: 2;
    --z-3: 3;
    --z-4: 4;
    --z-5: 5;

    --border-default: 0.0625rem;

    --bg-radial: radial-gradient(var(--tw-gradient-stops));
    --bg-conic: conic-gradient(
  from 225deg,
  #0a0f2c,
  #1c124d,
  #3a0ca3,
  #4c1d95,
  #5b21b6,
  #312e81,
  #0f172a,
  #0a0f2c
);

  }

  body {
    font-family: var(--font-sora), system-ui, sans-serif;
    @apply bg-[var(--n-8)] text-[var(--n-1)] text-base;
  }
  
}

@layer utilities {
    .stroke-1 {
    stroke: var(--stroke-1);
  }
    .font-sora {
    font-family: var(--font-sora);
  }
  .font-code {
    font-family: var(--font-code);
  }
  .font-grotesk {
    font-family: var(--font-grotesk);
  }
    .text-primary { color: var(--color-1); }
  .text-secondary { color: var(--color-2); }
  .text-accent { color: var(--color-3); }
  .text-success { color: var(--color-4); }
  .text-info { color: var(--color-5); }
  .text-pinky { color: var(--color-6); }

  .bg-primary { background-color: var(--color-1); }
  .bg-secondary { background-color: var(--color-2); }
  .bg-accent { background-color: var(--color-3); }
  .bg-success { background-color: var(--color-4); }
  .bg-info { background-color: var(--color-5); }
  .bg-pinky { background-color: var(--color-6); }

  /* Neutrals */
  .text-n1 { color: var(--n-1); }
  .text-n2 { color: var(--n-2); }
  .text-n3 { color: var(--n-3); }
  .text-n4 { color: var(--n-4); }
  .text-n5 { color: var(--n-5); }
  .text-n6 { color: var(--n-6); }
  .text-n7 { color: var(--n-7); }
  .text-n8 { color: var(--n-8); }
  .text-n9 { color: var(--n-9); }
  .text-n10 { color: var(--n-10); }
  .text-n11 { color: var(--n-11); }
  .text-n12 { color: var(--n-12); }
  .text-n13 { color: var(--n-13); }

  .bg-n1 { background-color: var(--n-1); }
  .bg-n2 { background-color: var(--n-2); }
  .bg-n3 { background-color: var(--n-3); }
  .bg-n4 { background-color: var(--n-4); }
  .bg-n5 { background-color: var(--n-5); }
  .bg-n6 { background-color: var(--n-6); }
  .bg-n7 { background-color: var(--n-7); }
  .bg-n8 { background-color: var(--n-8); }
  .bg-n9 { background-color: var(--n-9); }
  .bg-n10 { background-color: var(--n-10); }
  .bg-n11 { background-color: var(--n-11); }
  .bg-n12 { background-color: var(--n-12); }
  .bg-n13 { background-color: var(--n-13); }

  /* Letter spacing */
  .tracking-tagline { letter-spacing: var(--letter-spacing-tagline); }

  /* Spacing */
  .p-0_25 { padding: var(--spacing-0-25); }
   .px-7_5 { padding-left: var(--spacing-7-5); padding-right: var(--spacing-7-5); }
  .p-15 { padding: var(--spacing-15); }

  .m-0_25 { margin: var(--spacing-0-25); }
  .m-7_5 { margin: var(--spacing-7-5); }
  .m-15 { margin: var(--spacing-15); }

  /* Opacity */
  .opacity-15 { opacity: var(--opacity-15); }

  /* Duration */
  .duration-default { transition-duration: var(--duration-default); }

  /* Timing */
  .ease-default { transition-timing-function: var(--timing-default); }

  /* Z-index */
  .z-1 { z-index: var(--z-1); }
  .z-2 { z-index: var(--z-2); }
  .z-3 { z-index: var(--z-3); }
  .z-4 { z-index: var(--z-4); }
  .z-5 { z-index: var(--z-5); }

  /* Border */
  .border-default { border-width: var(--border-default); }

  /* Gradients */
  .bg-radial { background-image: var(--bg-radial); }
  .bg-conic { background-image: var(--bg-conic); }
  .tap-highlight-color {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
   .hover-text-color-1:hover {
    color: var(--color-1);
  }
  .text-n1-50 {
  color: var(--n-1);
  opacity: 0.5;
}

  /* Rotate Utilities */
  .rotate-45  { @apply rotate-[45deg]; }
  .rotate-90  { @apply rotate-[90deg]; }
  .rotate-135 { @apply rotate-[135deg]; }
  .rotate-180 { @apply rotate-[180deg]; }
  .rotate-225 { @apply rotate-[225deg]; }
  .rotate-270 { @apply rotate-[270deg]; }
  .rotate-315 { @apply rotate-[315deg]; }
  .rotate-360 { @apply rotate-[360deg]; }

  .-rotate-45  { @apply -rotate-[45deg]; }
  .-rotate-90  { @apply -rotate-[90deg]; }
  .-rotate-135 { @apply -rotate-[135deg]; }
  .-rotate-180 { @apply -rotate-[180deg]; }
  .-rotate-225 { @apply -rotate-[225deg]; }
  .-rotate-270 { @apply -rotate-[270deg]; }
  .-rotate-315 { @apply -rotate-[315deg]; }
  .-rotate-360 { @apply -rotate-[360deg]; }
}

@layer components {
  .container {
    @apply max-w-[77.5rem] mx-auto px-5 md:px-10 lg:px-15 xl:max-w-[87.5rem];
  }

  .h1 {
    @apply font-semibold text-[2.5rem] leading-[3.25rem] md:text-[2.75rem] md:leading-[3.75rem] lg:text-[3.25rem] lg:leading-[4.0625rem] xl:text-[3.75rem] xl:leading-[4.5rem];
  }

  .h2 {
    @apply text-[1.75rem] leading-[2.5rem] md:text-[2rem] md:leading-[2.5rem] lg:text-[2.5rem] lg:leading-[3.5rem] xl:text-[3rem] xl:leading-tight;
  }

  .h3 {
    @apply text-[2rem] leading-normal md:text-[2.5rem];
  }

}